.confirmresetpassword {
    .resend {
        display: flex;
        margin-block: 20px;
        border-bottom: none !important;
        font-size: 1.8rem;
        user-select: none;
        p {
            color: var(--green);
            font-weight: bold;

            a {
                margin-left: 10px;
                color: var(--black);
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
}
